{% extends "skeleton.html" %}
{% block head_title %}Quotelists{% endblock head_title%}
{% block html_content %}

    <!-- Sidebar-->
    {% include "sidebar.html" %}
            <div class="col-auto col-md-8">
                {% include "back_button.html" %}
                {% if back_link %}
                    <div class="pt-3">
                {% else %}
                    <div class="pt-5">
                {% endif %}
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="fs-4">{{ quotelist.name }}</span>
                            <br>
                            <div class="text-secondary-emphasis" style="transform: rotate(0);">
                                <a class="z-3 stretched-link link-offset-2 link-light link-underline-opacity-0 link-underline-opacity-50-hover" href="/user?username={{ quotelist.user }}">
                                    @{{ quotelist.user }} 
                                </a>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <ul class="list-group">
                                {% for quote in quotelist.quotes %}
                                    <li class="list-group-item">
                                        <a class="m-2 link-offset-2 link-light link-underline-opacity-0 link-underline-opacity-50-hover" rel="noreferrer" href="/quote?quoteSafeID={{ quote.safe_id }}" target="_blank">
                                            {{ quote.content }}
                                            &nbsp;
                                            <i class="bi bi-box-arrow-up-right"></i>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>

                        </li>
                    </ul>
                </div>
{% endblock html_content %}