{% extends "skeleton.html" %}
{% block head_title %}Quotelists{% endblock head_title%}
{% block html_content %}

    <!-- Sidebar-->
    {% include "sidebar.html" %}
                <div class="col-auto col-md-8 pt-5">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="fs-4">{{ quotelist.name }}</span>
                            <br>
                            <span>@{{ quotelist.user }}</span>
                        </li>
                        <li class="list-group-item">
                            <ul class="list-group">
                                {% for quote in quotelist.quotes %}
                                    <li class="list-group-item">
                                        <a class="stretched-link text-decoration-none link-light m-2" rel="noreferrer" href="/quote?quoteSafeID={{ quote.safe_id }}" target="_blank">
                                            {{ quote.content }}
                                            &nbsp;
                                            <i class="bi bi-box-arrow-up-right"></i>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>

                        </li>
                    </ul>
                </div>
{% endblock html_content %}