{% extends "skeleton.html" %}
{% block head_title %}Home{% endblock head_title%}
{% block html_content %}

    <!-- Sidebar-->
    {% include "sidebar.html" %}
            <div class="col-auto col-md-8 pt-5">

                <!-- Form to add new QUOTE -->
                <div class="container-sm p-3 card">
                    <div class="col">
                        <h4>Submit your Quote</h4>
                    </div>
                    <form action="/quote/add" method="post" id="addQuote">
                        <div class="row flex-grow-1">
                            <div class="col-md-8 position-relative">
                                <textarea class="form-control h-100 d-inline-block" name="quoteContent" id="quoteContent" placeholder="You got a new quote?"></textarea>
                            </div>
                            <div class="col me-3">
                                <div class="row pb-2">
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            Book&nbsp;
                                            <i class="bi bi-book-fill"></i>
                                        </div>
                                        <input type="text" class="form-control" id="quoteBook" name="quoteBook">
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            Author&nbsp;
                                            <i class="bi bi-person-fill"></i>
                                        </div>
                                        <input type="text" class="form-control" id="quoteAuthor" name="quoteAuthor">
                                    </div>
                                </div>
                                <div class="row pt-2 px-2">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="container-sm py-4">
                    <hr>
                </div>

                <!-- Show last 10 QUOTES on the DB -->
                {% for quote in last_quotes %}
                    {% include "quote_link.html" %}
                {% endfor %}
                <div class="container-sm py-4">
                </div>
            </div>
        </div>
    </div>
{% endblock %}