{% block comment_display %}
    <div class="container-sm card p-3">
        <div class="row align-items-center">
            <div class="col fs-5">{{ comment.content }}</div>
            {% if user.name == comment.user %}
                <div class="col-auto">
                    <div class="input-group h-50 flex-row-reverse">
                        <button class="btn btn-outline-secondary dropdown-toggle border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>&nbsp;
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <button class="dropdown-item text-center" data-bs-toggle="modal" data-bs-target="#commentModal" 
                                    data-bs-content="{{comment.content}}" data-bs-safeid="{{comment.safe_id}}">
                                    Edit
                                    &nbsp;
                                    <i class="bi bi-pencil-fill"></i>
                                </button>
                            </li>
                            <li>
                                <a class="dropdown-item text-center" href="/quote/comments/delete?commentSafeID={{comment.safe_id}}">
                                    Delete
                                    &nbsp;
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="pt-2 text-secondary-emphasis" style="transform: rotate(0);">
            <a class="z-3 stretched-link link-offset-2 link-light link-underline-opacity-0 link-underline-opacity-50-hover" href="/user?username={{ quote.user }}">
                @{{ comment.user }} 
            </a>
            · {{ comment.time_elapsed }}
        </div>
    </div>
{% endblock comment_display %}
